@(title: String)(content: Html)(implicit request: play.api.mvc.Request[Any])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Over Under Betting">
    <meta name="author" content="Andrew Reitz">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <title>@title</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li @if(request.uri == "/") { class="active" }><a href="@routes.Application.index">Home</a></li>
                <li @if(request.uri == "/create") { class="active" }><a href="@routes.Application.createNew">Create New</a></li>
                <li @if(request.uri == "/login") { class="active" }><a href="@routes.Application.login">Login</a></li>
            </ul>
            <h3 class="text-muted">N.O.D.E.A.T.H Over Under</h3>
        </div>

        <div class="jumbotron">
            <h1>N.O.D.E.A.T.H</h1>
            <h2>Over Under</h2>
            <p class="lead">Kitten Ipsum mercedes love cat kitties front purses she, kitten kittens adopted couch odd sleeping nap cat me meowlly healing.</p>
        </div>

        @content

        <div class="footer">
            <p>&copy; N.O.D.E.A.T.H 2014</p>
        </div>

    </div> <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.at("javascripts/index.js")"></script>
</body>
</html>